**/node_modules
.git
**/*.env
**/dist
**/tsconfig.tsbuildinfo
*.lib
*.so
*.obj
*.so
**/out
**/.vs
/scripts
/docker
**/.next
**/yarn-error.log
packages/util/jumanpp-2.0.0-rc3/libs/eigen3