# Ignore a blackhole and the folder for development
node_modules/
.vs/

# Ignore bwd folders/files
dist/
bwd/
*.tsbuildinfo

# Ignore the config file (contains sensitive information such as tokens)
*.env
# Ignore heapsnapshot and log files
*.heapsnapshot
*.log
# Ignore package locks
package-lock.json
.git
!packages/util/open-jtalk/**/lib
!packages/util/jumanpp-2.0.0-rc3/**/lib
!packages/presentation/member-gateway-customized/src/lib
*.lib
*.so
*.obj
*.so
out/
/scripts
/docker